@media screen and (max-width: 1200px) {
	.container {
		width: 992px;
	}

	.icons {
		grid-gap: 5px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 768px;
	}

	.project-main {
		align-items: center;
		flex-direction: column;
	}

	.project-image {
		width: 100%;
		padding-top: 30px;
	}

	.footer-main {
		align-items: center;
		flex-direction: column;
	}

	.line1, .line2 {
		width: 100%;
	}

	.line2 {
		margin-top: 20px;
	}

	.aside-info {
		width: 100%;
		padding-bottom: 60px;
	}

	#bars {
		display: block;
	}

	#icon {
		position: absolute;
		top: 25px;
		right: 25px;
	}

	.close {
		display: block;
		color: #fff;
	}

	.navigation {	
		z-index: 99;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		position: absolute;	
		padding: 55px 15px 15px 15px;
		margin: auto;
		display: none;
		justify-content: center;
		align-items: center;
		background: rgba(30, 74, 166, 0.75);
	}

	nav {
		padding: 10px 0;
		border-radius: 8px;
		width: 100%;
		height: 100%;
		background: #fff;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		overflow: hidden;
		overflow-y: scroll;
	}

	.down, .right {
		right: 5px;
	}

	nav a {
		color: #0c3c53;
	}

	nav ul:nth-child(1) {
		display: block;
		line-height: 2.5;
		width: 100%;
	}

	nav ul li ul {
		transform: translateY(0);
		position: relative;
		background: #fff;
		width: 100%;
		display: none;
		opacity: 1;
	}

	nav ul li:hover #k {
		box-shadow: 0 0 8px #b3b3b3;
		display: block;
	}

	#drop-down2 {
		position: relative;
		transform: translateX(0);
		opacity: 1;
		display: none;
		box-shadow: 0 0 8px #b3b3b3;
	}

	#deep-down:hover #drop-down2 {
		display: block;
		transform: translateX(0);
	}

	nav button {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 18px;
		width: 95%;
		color: var(--colo1);
	}

	.icons {
		grid-gap: 5px;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 992px) {
	.team {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 554px;
	}

	.services, .main-arsha {
		width: 100%;
	}

	.links {
		width: 100%;
		margin-top: 20px;
	}

	.line1, .line2 {
		display: block;
	}

	.network {
		width: 100%;
		margin-top: 50px;
	}

	.cons div {
		width: 25px;
		height: 25px;
	}
}

@media  screen and (max-width: 554px) {
	.container {
		width: 100%;
		margin: auto;
		padding: 0 10px;
	}
}